.navbar {
  background-color: rgba(80, 62, 92, 0.2) ;
  /* border:3px solid black; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 12vh;
}

.links {
  
  margin-right: 50px;
}

.links a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
}



.parent{
  position: relative;
  width:  100%; /* Parent container takes up 100% of its parent's width */
  height: 88vh; /* Adjust this if you want the container to take up a specific percentage of the viewport height */    
  display: flex;
  /* border:5px solid rgb(174, 47, 47); */
  

  
}
.heroImage {
  /* position: relative; */
  display: flex;
  justify-content:row;
  row-gap: 0px;
  align-items:end;
  width: 100%; /* Width covers the whole page width */
  height: 100%; /* Height is a variable value as a percentage of the viewport height */
  /* background-color: #1B1927; */
  /* background-color: rgb(52, 0, 52); */
  background-color: rgb(39, 3, 64) ;
  /* border:12px solid black; */
}
.image{
height: 95%;
width: 60%;
/* border:12px solid red; */
}
.text{
  /* margin-bottom: 0%; */
  padding-left:16%;
  /* padding-right: 0%; */
  padding-bottom: 4%;
  height: 85%;
  width: 40%;
  /* border:12px solid black; */
}

.yellow{
height: 100%;
width: 100%;
}
.heroButton{
  position: relative;
  bottom:0%;
  background-color:rgba(125, 108, 202, 0.963);
  color: white;
  width:32%;
  height:10%;
  border-radius:15px;
  transition:0.8s;
  font-size: larger;

}
.heroButton:hover {
  background-color:rgba(24, 24, 24, 0.963);
  cursor: pointer;
 
}
.herop1{
  font-size:250%;
  color:white;
  font-weight: 300%;
  width: 75%;
  margin-bottom: 0%;
}
.herop2{
  margin-top: 0%;
  font-size:250%;
  color:white;
  font-weight: 400;
}
.herop3{
  font-size:xx-large;
  font-weight: lighter;
  color:white;
  width:75%;
  margin-bottom: 10%;
  
}
.Accessories{
color:rgba(125, 108, 202, 0.963);
}
span{
  color:rgba(125, 108, 202, 0.963);
}
.shoMit{
  padding-right:70% ;
  text-align: end;
  font-size:200%;
  font-weight: bold;
  color:orange;
}
.testimony{
/* border: 5px solid green; */
height: auto;
}
.testwrap{
  /* border: 5px solid black; */
  margin-left: 30%;
  margin-right:0%;
  height: 55vh;
  width: 80vh;
  border-radius:30px;
  /* background:orange; */
}
/* .testwrap{
  
} */
.testwrap img{
  /* border: 5px solid red; */
  height: 100%;
  width: 100%;
  border-radius:30px;

}
.testimony2{
 /* border: 5px solid yellow; */
 height: 50vh;
 padding-right:10% ;
 text-align: center;
}
.testButton{
  background-color:rgba(125, 108, 202, 0.963);
  color: white;
  border-radius:15px;
  font-size: 2rem;
  border-radius:15px;
  height: 15%;
  width: 20%;
  margin-left: 10%;
  

}
.testP{
  font-size: 3.2rem;
  font-weight: bolder;
  margin-left: 9%;
  margin-bottom: 1.5%;
}

.footerStyle  {
  /* background-color: red; */
  background-color: rgba(80, 62, 92, 0.2) ;
  padding: 20px 0;
  /* position: 'absolute'; */

  bottom: 0;
  width: 100%;
  height: 30vh;
}
.containerStyle  {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  
}
ul{
  list-style-type:none;
  line-height: 4ch;
  font-size: 1.2rem;
}
ul li:first-child{
  font-size: 1.5rem;
  font-weight:500;
  color:rgb(75, 73, 73);
  line-height: 4ch;

}