.EcatWrap{
    margin-left:5%;
    margin-right:5%;
}   

.EcatP{
  /* border: 5px solid  black; */
  display: flex;
  justify-content: end;
  height: 80vh;
  /* border-radius:100px; */
  /* background-color:purple; */
  background-color: rgb(39, 3, 64) ;
  
}
.EcatP img{
  border: 5px solid  rgba(255, 255, 255, 0.2) ;;
  width: 50%;  
  height: 100%;
  border-radius:70%;
}

.MEcat{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 2px solid black; */
    column-gap: 10%;
    row-gap: 10%;
    height: 150vh;
    padding-top: 8%;
    /* background-color: rgba(80, 62, 92, 0.2) ; */
}

.EcatImage{
    height:300px;
    width: 400px;
    border: 1px solid rgba(103, 43, 146, 0.395) ;
    border-radius:100px;

}
.EcatImage img{
    height:100%;
    width: 100%;
    border-radius:100px;
    

}